<div class="border-right" id="sidebar-wrapper"  [ngClass]="status ? 'show' : 'hide'">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold tex-uppercase">
      <i class="fas fa-user-secret me-2"></i> </div>
    <div class="list-group">
      <a href="dashboard" class="list-group-item ">Dashboard</a>
      <a href="#" class="list-group-item  ">Shortcuts</a>
      <a href="#" class="list-group-item  ">Overview</a>
      <a href="#" class="list-group-item  ">Events</a>
      <a href="#" class="list-group-item  ">Profile</a>
      <a href="#" class="list-group-item  ">Status</a>
      <a href="#" class="list-group-item ">Dashboard</a>
      <a href="#" class="list-group-item  ">Shortcuts</a>
      <a href="#" class="list-group-item  ">Overview</a>
      <a href="#" class="list-group-item  ">Events</a>
      <a href="#" class="list-group-item  ">Profile</a>
      <a href="#" class="list-group-item  ">Status</a>
    </div>
</div>
